html, body {
  margin: 0;
  padding: 0;
  //overflow: hidden;
}

div, iframe {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    display:block;
    transform-origin: center;
}

div:hover {
  transform: scale(2,2);// translate(10px,10px);
}
